variables:
  IMAGE_NAME: your_registry/react-boilerplate

stages:
  - build
  - push
  - deploy
  - cleanup

build_production:
  stage: build
  script:
    - docker build -t $IMAGE_NAME:build -f Dockerfile.build .
    - docker create --name ${CI_BUILD_NAME}_${CI_BUILD_REF_NAME} $IMAGE_NAME:build
    - docker cp ${CI_BUILD_NAME}_${CI_BUILD_REF_NAME}:/usr/src/app/dist.tar.gz .
    - docker rm ${CI_BUILD_NAME}_${CI_BUILD_REF_NAME}
    - docker build -t $IMAGE_NAME -f Dockerfile.prod .
  only:
    - master
  tags:
    - build

push_production:
  stage: push
  script:
    - docker push $IMAGE_NAME
  only:
    - master
  tags:
    - push

deploy_production:
  stage: deploy
  script:
    - docker-compose -f docker-compose.prod.yml pull
    - docker-compose -f docker-compose.prod.yml up -d
  only:
    - master
  tags:
    - production

cleanup_production:
  stage: cleanup
  script:
    - EMPTYIMAGE=$(docker images | awk '{print $1, $3}' | grep '^<none>' | awk '{print $2}') sh -c 'if [ ! -z "$EMPTYIMAGE" ]; then docker rmi $EMPTYIMAGE; fi'
  only:
    - master
  tags:
    - production
  allow_failure: true
